In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [3]:
df=pd.read_csv('energydata_complete.csv')

In [5]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [24]:
df.drop(['date'], axis=1, inplace=True)

In [25]:
df.drop(['lights'], axis=1, inplace=True)

In [26]:
scaler = MinMaxScaler()
normalized_df = pd.DataFrame(scaler.fit_transform(df), columns= df.columns)

In [27]:
features_df = normalized_df.drop(columns='Appliances')
target_df = normalized_df['Appliances']

In [28]:
x_train, x_test, y_train, y_test = train_test_split(features_df, target_df, test_size=0.3, random_state=42)

In [ ]:
#What is the R^2 value in two d.p?

In [29]:
T2_x_train = x_train[['T2']]
T6_y_train = x_train[['T6']]

T2_x_test = x_test[['T2']]
T6_y_test = x_test[['T6']]

In [30]:
model = LinearRegression()

In [31]:
model.fit(T2_x_train,T6_y_train)
predicted_T6_y = model.predict(T2_x_test)
r2_score = r2_score(T6_y_test, predicted_T6_y)
print(round(r2_score,2))

0.64

In [ ]:
# What is the Mean Absolute Error (in two decimal places)?

In [32]:
model.fit(x_train, y_train)
predicted_y = model.predict(x_test)
MAE = mean_absolute_error(y_test, predicted_y)
print(round(MAE,2))

0.05

In [ ]:
# What is the Residual Sum of Squares (in two decimal places)?

In [34]:
model.fit(x_train, y_train)
predicted_y = model.predict(x_test)
Rss = np.sum(np.square(y_test-predicted_y))
print(round(Rss,2))

45.35

In [ ]:
# What is the Root Mean Squared Error (in three decimal places)?

In [37]:
model.fit(x_train, y_train)
predicted_y = model.predict(x_test)
rmse = np.sqrt(mean_squared_error(y_test, predicted_y))
print(round(rmse,3))

0.088

In [ ]:
# What is the Coefficient of Determination (in two decimal places)?

In [48]:
from sklearn.metrics import r2_score

In [49]:
model.fit(x_train, y_train)
predicted_y = model.predict(x_test)
r2_score = r2_score(y_test, predicted_y)
print(round(r2_score,2))

0.15

In [50]:
model.fit(x_train, y_train)

LinearRegression()

In [ ]:
# Which features have the lowest and highest weights respectively?

In [51]:
def get_feature_weights(model, feature, column_name):
    weights_array = pd.Series(model.coef_, feature.columns).sort_values()
    weights_df = pd.DataFrame(weights_array).reset_index()
    weights_df.columns = ['Features', column_name]
    weights_df[column_name].round(3)
    return weights_df

In [52]:
Linear_model_weights = get_feature_weights(model, x_train, 'Linear_model_weight')
Linear_model_weights

       Features  Linear_model_weight
0          RH_2            -0.456698
1         T_out            -0.321860
2            T2            -0.236178
3            T9            -0.189941
4          RH_8            -0.157595
5        RH_out            -0.077671
6          RH_7            -0.044614
7          RH_9            -0.039800
8            T5            -0.015657
9            T1            -0.003281
10          rv2             0.000770
11          rv1             0.000770
12  Press_mm_hg             0.006839
13           T7             0.010319
14   Visibility             0.012307
15         RH_5             0.016006
16         RH_4             0.026386
17           T4             0.028981
18    Windspeed             0.029183
19         RH_6             0.038049
20         RH_3             0.096048
21           T8             0.101995
22    Tdewpoint             0.117758
23           T6             0.236425
24           T3             0.290627
25         RH_1             0.553547